<%= form_for @team, remote: true, html: { style: "display:inline;" } do |f| %>
<div class="modal-body">
	<ul class="errors"></ul>
	<div class="form-group">
		<%= f.label :first_name, class:"control-label" %>
		<%= f.text_field(:first_name, class: 'form-control', placeholder: 'Enter First Name ...') %>
	</div>
	<div class="form-group">
		<%= f.label :last_name, class:"control-label" %>
		<%= f.text_field(:last_name, class: 'form-control', placeholder: 'Enter Last Name ...') %>
	</div>
	<div class="form-group">
		<%= f.label :title, class:"control-label" %>
		<%= f.text_field(:title, class: 'form-control', placeholder: 'Enter Title ...') %>
	</div>
	<div class="form-group">
	    <%= f.label :email, class:"control-label" %>
	    <%= f.email_field(:email, class: 'form-control', placeholder: 'Email') %>
	</div>
	<div class="form-group">
	    <%= f.label :description, class:"control-label" %>
	    <%= f.text_area(:description, class: 'form-control', rows:'6') %>
	</div>
	<div class="form-group">
		<%= f.label :cell_phone, class:"control-label" %>
		<%= f.text_field(:cell_phone, class: 'form-control', placeholder: 'Enter Cell Phone ...') %>
	</div>	
	<div class="form-group">
		<%= f.label :google, class:"control-label" %>
		<%= f.text_field(:google, class: 'form-control', placeholder: 'Enter google details ...') %>
	</div>
	<div class="form-group">
		<%= f.label :facebook, class:"control-label" %>
		<%= f.text_field(:facebook, class: 'form-control', placeholder: 'Enter facebook details ...') %>
	</div>
	<div class="form-group">
		<%= f.label :twitter, class:"control-label" %>
		<%= f.text_field(:twitter, class: 'form-control', placeholder: 'Enter twitter details ...') %>
	</div>
	<div class="form-group">
		<%= f.label :linkedin, class:"control-label" %>
		<%= f.text_field(:linkedin, class: 'form-control', placeholder: 'Enter linkedin details ...') %>
	</div>
</div>
<div class="modal-footer">
	<%= f.submit class: "btn btn-bordered-primary" %>
	<%= link_to "Cancel", "#", class: "btn btn-bordered-success", data: {dismiss: "modal"} %>
</div>
<% end %>


