<%= error_messages_for(f.object) %>

<div class="form-group">
    <label for="listingName">Listing Name</label>
    <%= f.text_field(:name, class: 'form-control', id: 'listingName', placeholder: 'Enter Listing Name') %>
</div>

<div class="form-group">
    <label for="shortDesc">Brief Description</label>
    <%= f.text_field(:short_desc, class: 'form-control', id: 'shortDesc', placeholder: 'Enter Brief Description') %>
</div>

<div class="form-group">
    <label for="longDesc">Description</label>
    <%= f.text_area(:long_desc, class: 'form-control', id: 'longDesc', rows:'6') %>
</div>

<div class="form-group input-group">
    <label for="origPrice">Original Price</label>
    <div class="input-group">
        <span class="input-group-addon">INR</span>
        <%= f.number_field(:orig_price, class: 'form-control', id: 'orig_price') %> 
        <span class="input-group-addon">.00</span> 
    </div>
</div>
<div class="form-group input-group">
    <label for="currPrice">Current Price</label>
    <div class="input-group">
        <span class="input-group-addon">INR</span>
        <%= f.number_field(:curr_price, class: 'form-control', id: 'curr_price', placeholder: 'Enter Current Price') %>
        <span class="input-group-addon">.00</span>
    </div> 
</div>

<div class="form-group">
    <label>Visible</label>
    <%= f.check_box(:visible, class: 'checkbox-inline') %>
</div>

<%= link_to 'Cancel', listings_path(:product_id => @product.id), class: "btn btn-bordered-warning" %>
<%= f.submit("Submit", :class => 'btn btn-bordered-primary') %>  