<%= form_for @product, remote: true, html: { style: "display:inline;" } do |f| %>
<%= error_messages_for(f.object) %>
<div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
            <%= f.text_field(:name, class: 'text-cp form-control', placeholder: 'Category Name') %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
            <%= f.radio_button(:category, 'Service', class: 'radio-inline') %> Service
            <%= f.radio_button(:category, 'Product', class: 'radio-inline') %> Product
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
            <%= f.text_area(:description, class: 'form-control', rows:'6', placeholder: 'Describe in detail....') %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center text-danger" style="padding-bottom: 10px;">
            <%= f.check_box(:visible, class: 'checkbox-inline') %> Visible
        </div>
    </div>
</div>
<div class="modal-footer">
    <%= link_to "Close", "#", class: "btn btn-secondary", data: {dismiss: "modal"} %>
    <%= f.submit "Submit" ,class: "btn btn-primary" %>
</div>

<% end %>