<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Admin Area" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <!-- container section start -->
    <section id="container" class="">
      <!--header start-->
      <%= render 'layouts/admin/header' %>
      <!--header end-->

      <!--sidebar start-->
      <%= render 'layouts/admin/sidebar' %>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          
        <%= yield %>

        </section>
      </section>
      <!--main content end-->
      
      <!--footer start-->
      <%= render 'layouts/admin/footer' %>
      <!--footer end-->
    </section> 
    <!-- container section end -->
  </body>
</html>
